@import './variable/variable';


body {
    font-family: $font-principal;
    background-color: $branco;
    // height: 100vh;
    position: relative;
}

.cabecalho {
    max-width: 1219px;
    margin: 0 auto;

    padding: 1.5rem;

    a {
        color: $roxo-escuro;

        display: flex;
        align-items: center;
        column-gap: 10px;

        font-weight: 500;
        font-size: 18px;
        line-height: 21px;

        text-decoration: none;
    }
}


.ct-principal {
    max-width: 1219px;
    margin: 0 auto;
}

.ct-conteudo {
    margin-top: 162px;

    h1 {
        color: $roxo-escuro;
        font-family: $font-titulo;
        font-weight: 900;
        font-size: 64px;
        line-height: 80px;
        margin-bottom: 42px;

        &::after {
            content: '';
            background: url(../img/Vector\ 1.svg) center top / cover no-repeat;
            display: block;
            width: 232px;
            height: 27px;
        }

    }

    p {
        color: $roxo-escuro;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 45px;

    }

    .btn-contribuir {
        color: $branco;
        background-color: $roxo;
        border-radius: 48px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        padding: 12px 32px;
        text-decoration: none;
        &:hover {
            background-color:  #5116f1;;
        }
    }

    .btn-contato {
        color: $roxo-escuro;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        margin-left: 24px;
        text-decoration: none;
    }
}

.ct-imagens {
    position: absolute;
    right: 0;
    top: 0;

    .paleta-azul {
        position: absolute;
        right: 0;
        top: 0;
        width: 800px;
    }

    .paleta-patas {
        position: absolute;
        right: 0;
        top: 0;
    }

    .cachorro {
        position: absolute;
        right: 270px;
        top: 237px;
    }

    .racao {
        position: absolute;
        right: 540px;
        top: 525px;
    }

    .paleta-azul-mobile,
    .paleta-patas-mobile,
    .paleta-cachorro-mobile,
    .racao-mobile {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .cabecalho {
        display: flex;
        justify-content: center;
    }

    .ct-conteudo {
        text-align: center;
        margin-top: 75px;

        h1 {
            &::after {
                margin-left: 250px;
            }
        }
    }

    .ct-imagens {
        top: 475px;
    }

}

@media screen and (max-width: 768px) {
    .ct-conteudo {
        h1 {
            &::after {
                margin-left: 125px;
            }
        }
    }

    .ct-imagens {

        .paleta-azul,
        .paleta-patas {
            width: 550px;
        }

        .cachorro {
            width: 350px;
            right: 160px;
            top: 110px;
        }

        .racao {
            right: 350px;
            top: 355px;
            width: 270px;
        }
    }
}


@media screen and(max-width: 500px) {
    .cabecalho {
        a {
            font-size: 24px;
            line-height: 21px;

        }
    }

    main {
        padding: 1.5rem;
    }

    .ct-conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 32px;
            line-height: 40px;

            &::after {
                width: 107px;
                height: 16px;
                margin-left: 0;
            }
        }

        .btn-contribuir {
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 24px;
            padding: 12px 48px;
        }

        .btn-contato {
            font-size: 18px;
            line-height: 21px;
            margin-left: 0;
        }
    }



    .ct-imagens {
        top: 490px;

        .paleta-azul,
        .paleta-patas,
        .cachorro,
        .racao {
            display: none;
        }

        .paleta-azul-mobile,
        .paleta-patas-mobile {
            display: block;
            position: absolute;
            right: 0;
        }

        .paleta-cachorro-mobile {
            display: block;
            position: absolute;
            right: 0;
            top: 95px;
        }

        .racao-mobile {
            display: block;
            position: absolute;
            right: 110px;
            top: 300px;
            width: 195px;
        }
    }
}